:root {
  --main-bg-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Helvetica, sans-serif;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: #F9FAF8;
  font-weight: 600;
  padding: .3em 1.2em;
  border-radius: .3em;
}
.button.primary {
  background-color: #3882f6;
  margin: 1em 0;
}
header {
  background-color: var(--main-bg-color);
  padding: 1em 14em;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav h2 {
  color: #F9FAF8;
  font-size: 1.5em;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
header nav a {
  text-decoration: none;
  color: #E5E7EB;
}
header .header-info {
  padding: 7em 0;
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}
header .header-text {
  color: #E5E7EB;
  font-weight: 300;
  font-size: 1.2em;
  width: 50%;
}
header .header-text h1 {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 3em;
}
header .header-image {
  width: 60%;
}
header .header-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
main .info {
  text-align: center;
  display: flex;
  padding: 2em 0 6em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .info h2 {
  font-size: 2.1em;
  color: #1f2937;
  margin-bottom: 1.5em;
}
main .info-container {
  gap: 4em;
  display: flex;
}
main .info-box {
  display: flex;
  width: 200px;
  flex-direction: column;
}
main .info-img img {
  box-shadow: 2px 2px 10px gray;
  border-radius: .5em;
  width: 100%;
  object-fit: cover;
  height: 200px;
  margin-bottom: 1em;
}
main .quote {
  font-style: italic;
  color: #1f2937;
  font-size: 2em;
  background-color: #E5e7eB;
  padding: 3em 12em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .quote cite {
  margin-left: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}
